<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.androidproject.what">

    <uses-permission android:name="android.permission.INTERNET" />

    <application android:allowBackup="true" android:label="@string/app_name"
        android:icon="@drawable/ic_launcher" android:theme="@style/AppTheme">
        <activity
            android:name=".main"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".login"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="com.androidproject.what.LOGIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".menu"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="com.androidproject.what.MENU" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".register"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="com.androidproject.what.REGISTER" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".setting"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="com.androidproject.what.SETTING" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".profil"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="com.androidproject.what.PROFIL" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ne_nasil"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="com.androidproject.what.NE_NASIL" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ne_nedemek"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="com.androidproject.what.NE_NEDEMEK" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ne_nedir"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="com.androidproject.what.NE_NEDIR" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ne_neymis"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="com.androidproject.what.NE_NEYMIS" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ne_nekadar"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="com.androidproject.what.NE_NEKADAR" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ne_nerede"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="com.androidproject.what.NE_NEREDE" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ne_nereye"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="com.androidproject.what.NE_NEREYE" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ne_nezaman"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="com.androidproject.what.NE_NEZAMAN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ne_nerede_nekadar"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="com.androidproject.what.NE_NEREDE_NEKADAR" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>
